.Summary {
  width: 880px;
  padding: 0 60px 0 0;
  display: flex;
  justify-content: space-between;
  &__CurrentWeather {
    display: flex;
    align-items: center;
    height: 200px;
    overflow: hidden;
    &__IconWrapper {
      width: 240px;
      overflow: hidden;
    }
    &__Temp {
      &__Num {
        font-size: 140px;
        font-weight: bold;
      }
      &__Unit {
        margin-left: 16px;
        font-size: 40px;
      }
    }
  }
  &__Statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
