.Summary {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  &__CurrentWeather {
    display: flex;
    align-items: center;
    height: 200px;
    overflow: hidden;
    &__IconWrapper {
      width: 240px;
      overflow: hidden;
    }
    &__Temp {
      &__Num {
        font-size: 140px;
        font-weight: bold;
      }
      &__Unit {
        margin-left: 16px;
        font-size: 40px;
      }
    }
  }
  &__Statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 680px) {
  .Summary {
    flex-direction: column;
    &__Statistics {
      flex-direction: row;
      > * {
        width: 50%;
      }
      > *:nth-child(n + 2) {
        margin-left: 32px;
      }
    }
  }
}
